* {
  margin: 0;
  padding: 0;
}

body {
  color: #212121;
  font-family: "Roboto", "Tahoma", sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container--header {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.container--banner {
  text-align: center;
}
.container--footer {
  display: flex;
  justify-content: center;
}

.section {
  padding: 94px 0;
}
.section__headline {
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section--team {
  background-color: #f5f4fa;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  color: #2196f3;
  margin-right: 284px;
  margin-left: 15px;
}
.logo--header {
  color: #000;
}
.logo--footer {
  color: #fff;
}

.navigation {
  display: none;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    margin-right: 83px;
    margin-left: 15px;
  }
  .navigation {
    display: flex;
  }
  .navigation:last-child {
    margin-right: 101px;
  }
  .navigation__item {
    color: #212121;
    margin-right: 60px;
    position: relative;
  }
  .navigation__link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: #2196f3;
  }
  .navigation__link--active {
    color: #2196f3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .navigation__link--active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    top: 46px;
    left: 0;
    margin: 0;
    padding: 0;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 93px;
    margin-left: 0;
  }
}
.navigation {
  display: flex;
}
.navigation:last-child {
  margin-right: 345px;
}
.navigation__item {
  color: #212121;
  margin-right: 46px;
  position: relative;
}
.navigation__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}
.navigation__link--active {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.navigation__link--active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  top: 46px;
  left: 0;
  margin: 0;
  padding: 0;
  display: block;
}

.contact {
  display: flex;
}
.contact__item:not(:last-child) {
  margin-right: 30px;
}
.contact .contact__link {
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
}
.contact__link {
  display: flex;
  align-items: center;
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.contact__icon {
  margin-right: 10px;
}

.banner {
  background-color: #2f303a;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/baner-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}
.banner__headline {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.banner__button {
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.banner__button--position {
  padding: 10px 41px 10px 41px;
  margin-bottom: 200px;
}

.benefits {
  display: flex;
  justify-content: center;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits__subtitle {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.section-offer {
  margin-bottom: 94px;
}

.offer {
  display: flex;
  justify-content: center;
}
.offer__item {
  margin-right: 30px;
  position: relative;
}
.offer__item:last-child {
  margin-right: 0;
}
.offer__description {
  width: 370px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 87%;
  margin: 0;
  padding: 27px 90px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8) 50%, rgba(47, 48, 58, 0.8) 50%);
  color: #fff;
}

.team {
  display: flex;
  justify-content: center;
}
.team__item {
  margin-right: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 270px;
}
.team__item:last-child {
  margin-right: 0px;
}
.team__name {
  display: flex;
  justify-content: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__position {
  display: flex;
  justify-content: center;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socialmedia {
  display: flex;
  justify-content: center;
}
.socialmedia--team {
  fill: #afb1b8;
  padding-bottom: 30px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.socialmedia__item:not(:last-child) {
  margin-right: 10px;
}
.socialmedia__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: #afb1b8;
  background-color: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}
.socialmedia__link:hover, .socialmedia__link:focus {
  fill: #fff;
  background-color: #2196f3;
}
.socialmedia__link--footer {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.socialmedia__link--footer:hover, .socialmedia__link--footer:focus {
  background-color: #2196f3;
}
.socialmedia__icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-box {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 70px;
}
.socialmedia-box__headline {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.clients {
  fill: #afb1b8;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.clients__icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter {
  display: flex;
  justify-content: center;
}
.newsletter--position {
  margin-left: 78px;
  padding-top: 12px;
}
.newsletter__headline {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.newsletter__headline--column {
  display: flex;
  flex-direction: column;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-top: 20px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter__input:focus {
  border: 1px solid #2196f3;
}
.newsletter__button {
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.newsletter__button--margin {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-left: 12px;
  padding-left: 42px;
  width: 200px;
  height: 50px;
}
.newsletter__icon {
  margin-left: 24px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__city-street {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
}
.address__item {
  margin-bottom: 9px;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.modal {
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  z-index: 2;
  transition-property: visibility, transform;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 2;
  visibility: visible;
  -webkit-animation-name: modalFrame;
          animation-name: modalFrame;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.modal__button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal-background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  transition-property: visibility;
  visibility: visible;
  display: flex;
  -webkit-animation-name: modalOpen;
          animation-name: modalOpen;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes modalOpen {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes modalOpen {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@-webkit-keyframes modalFrame {
  0% {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
  }
}
@keyframes modalFrame {
  0% {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
  }
}
.filter {
  padding-top: 94px;
  display: flex;
  justify-content: center;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__button {
  color: #212121;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  box-shadow: none;
  border: 0px solid;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color, box-shadow;
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.projects__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
}
.projects__group {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.projects__border {
  border: 1px solid #eee;
  border-top: none;
  position: relative;
  background-color: #fff;
}
.projects__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 100%;
  transform: translateY(100%);
  transition: transform 500ms ease;
}
.projects__overlay > .projects__subtitle {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
}

.projects__overlay code {
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
}

.section-projects {
  padding-top: 50px;
  padding-bottom: 94px;
}

.projects__item {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
.projects__item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__item:hover .projects__overlay {
  transform: translateY(-100%);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__group {
  width: 100%;
  padding: 0 40px;
}
.form__headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 2px;
  margin-bottom: 12px;
  text-align: center;
}
.form__item {
  position: relative;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__item:focus-within .form__icon {
  fill: #2196f3;
}
.form__item--terms {
  display: flex;
  justify-content: center;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}
.form__link {
  text-decoration: underline;
  color: #2196f3;
}

.form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  margin-top: 4px;
  outline: none;
  color: #757575;
}
.form__input:focus {
  border: 1px solid #2196f3;
}
.form__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__input--padding {
  padding: 12px 12px 12px 42px;
}
.form__input--resize {
  resize: none;
  padding: 12px 16px;
}

.form__icon {
  position: absolute;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon--email, .form__icon--name {
  left: 15px;
  bottom: 13px;
}
.form__icon--phone {
  left: 14.27px;
  bottom: 13px;
}

.form__agreement::before {
  display: block;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 4px;
  content: "";
  width: 16px;
  height: 15px;
  border: 1.8px solid #212121;
  border-radius: 2px;
}

.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__checkbox:checked + .form__agreement::before {
  background-color: #2196f3;
  border: none;
}

.form__agreement {
  position: relative;
  padding-left: 23px;
}

.form__checkbox-icon {
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 3px;
  z-index: 1;
}

.form__button {
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form__button--submit {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 76px;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */