.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4) 50%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    url(../images/baner-background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__headline {
    color: $bannerTitleColour;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 118px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &__button {
    @include mainButton;

    &--position {
      padding: 10px 41px 10px 41px;
      margin-bottom: 118px;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(50%, rgba(47, 48, 58, 0.4)),
        color-stop(50%, rgba(47, 48, 58, 0.4))
      ),
      url("../images/baner-background-mobile@2x.jpg");
    background-image: -o-linear-gradient(
        top,
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/baner-background-mobile@2x.jpg");
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url("../images/baner-background-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url(../images/baner-background-tablet.jpg);
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(50%, rgba(47, 48, 58, 0.4)),
          color-stop(50%, rgba(47, 48, 58, 0.4))
        ),
        url("../images/baner-background-tablet@2x.jpg");
      background-image: -o-linear-gradient(
          top,
          rgba(47, 48, 58, 0.4) 50%,
          rgba(47, 48, 58, 0.4) 50%
        ),
        url("../images/baner-background-tablet@2x.jpg");
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4) 50%,
          rgba(47, 48, 58, 0.4) 50%
        ),
        url("../images/baner-background-tablet@2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url(../images/baner-background.jpg);

    background-size: cover;

    &__headline {
      font-size: 44px;
      line-height: 1.36;
      padding-top: 200px;
      margin-bottom: 30px;
    }
    &__button {
      &--position {
        margin-bottom: 200px;
      }
    }
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(50%, rgba(47, 48, 58, 0.4)),
          color-stop(50%, rgba(47, 48, 58, 0.4))
        ),
        url("../images/baner-background@2x.jpg");
      background-image: -o-linear-gradient(
          top,
          rgba(47, 48, 58, 0.4) 50%,
          rgba(47, 48, 58, 0.4) 50%
        ),
        url("../images/baner-background@2x.jpg");
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4) 50%,
          rgba(47, 48, 58, 0.4) 50%
        ),
        url("../images/baner-background@2x.jpg");
    }
  }
}
