.clients {
  fill: $socialmediaIconColour;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: $socialmediaIconColour;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;

    &:hover,
    &:focus {
      border: 1px solid $accentColour;
      fill: $accentColour;
    }
  }
  &__icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
