.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: $accentColour;
  margin-right: 93px;
  &--header {
    color: $logoColour;
  }
  &--footer {
    color: $bannerTitleColour;
  }
}
