.filter {
  padding-top: 94px;
  @include flexJustifyCenter;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__button {
    color: $titleColour;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: $filterButtonColour;
    box-shadow: none;
    border: 0px solid;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, box-shadow;

    &:hover,
    &:focus {
      background-color: $accentColour;
      color: $bannerTitleColour;
      cursor: pointer;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  &__title {
    color: $titleColour;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    padding-left: 24px;
  }
  &__group {
    color: $subtitleColour;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    padding-top: 4px;
    padding-left: 24px;
    padding-bottom: 20px;
  }
  &__border {
    border: 1px solid #eee;
    border-top: none;
    position: relative;
    background-color: $bannerTitleColour;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    top: 100%;
    transform: translateY(100%);
    transition: transform 500ms ease;

    & > .projects__subtitle {
      font-size: 18px;
      line-height: 1.55;
      letter-spacing: 0.03em;
      color: $bannerTitleColour;
      padding-top: 49px;
      padding-left: 24px;
      padding-right: 45px;
    }
  }
}

.projects__overlay code {
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
}

.section-projects {
  padding-top: 50px;
  padding-bottom: 94px;
}

.projects__item {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects__overlay {
    transform: translateY(-100%);
  }
}
