$accentColour: #2196f3;
$titleColour: #212121;
$subtitleColour: #757575;
$bannerTitleColour: #fff;
$logoColour: #000;
$footerContactColour: rgba(255, 255, 255, 0.6);
$filterButtonColour: #f5f4fa;
$footerBackgroundColour: #2f303a;
$footerSocialmediaBackground: rgba(255, 255, 255, 0.1);
$socialmediaIconColour: #afb1b8;
$headerBorderBottom: #ececec;
$defaultFonts: "Roboto", "Tahoma", sans-serif;
